<html>
    <head>
        <title>El blog del KvN</title>
    </head>
    <body>
        <div>
            <h1><a href="/">El blog del KvN</a></h1>
        </div>

        <div>
            <p>publicado: 08.06.2022, 16:56</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Está destinado ha describir lo malo que es el Pere en todos lo putísioms vídeojuegos</p>
        </div>

        <div>
            <p>publicado: 08.06.2022, 16:58</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Está destinado ha las vivencias de dos leyendas, Consigüi & Jasigüi</p>
        </div>
    </body>
</html>